@{
  Layout = "_Layout";
}

@model Guestly.Models.Room

<h1>Add A Stay Record to @Html.DisplayFor(model => model.RoomNumber)</h1>
<hr>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
            @using (Html.BeginForm())
            {
              @Html.HiddenFor(model => model.RoomId)
              @Html.HiddenFor(model => model.RoomType)
              @Html.HiddenFor(model => model.Price)
              <div class ="form-group">
                @Html.Label("Select Guest")
                @Html.DropDownList("GuestId", (SelectList)ViewBag.GuestId, "Select Guest", new { @class = "form-control" })
              </div>
              <div class ="form-group">
                @Html.Label("How many nights did the guest stay?")
                @Html.TextBox("newNights", "", new{@class="form-control", placeholder = "Nights", required = "required"})
              </div>
              <div class ="form-group">
                @Html.Label("When is the check-in date?")<br>
                <input type="date" value="2021-01-28" name="dateOfArrival" class="form-control">
              </div>
              <button class="btn btn-outline-warning text-secondary btn-block" type="submit">Save</button>
              @Html.ActionLink("Cancel", "Details", "Rooms", new {id = Model.RoomId}, new{@class="btn btn-outline-warning text-secondary btn-block"})
            }
        </div>
      </div>
    </div>
  </div>
</div>