@{
  Layout = "_Layout";
}

@model Guestly.Models.Room

<div class="row">
  <div class="col-sm-6">
    <h1>Room @Html.DisplayFor(model => model.RoomNumber)</h1>
    <button type="button" class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = Model.RoomId })</button>
    <button type="button" class="btn btn-default">@Html.ActionLink("Delete", "Delete", new { id = Model.RoomId })</button>
  </div>
  <div class="col-sm-6">
    <h1>Stay records:</h1>
    <ul>
      @if (@Model.Guests.Count == 0)
      {
        <h3>No guests have stayed in @Html.DisplayFor(model => model.RoomNumber)</h3>
      }
      @foreach(var join in Model.Guests)
      {
        <li>@Html.ActionLink($"{@join.Guest.FirstName} {@join.Guest.LastName}", "Details", "Guests", new { id = join.GuestId } )</li>
          @using (Html.BeginForm("RemoveGuest", "Rooms"))
          {
            @Html.Hidden("joinId", @join.GuestRoomId)
            <button class="btn btn-default" type="submit">Remove</button>
          }
      }
    </ul>
    <button type="button" class="btn btn-default">@Html.ActionLink("Add a guest stay", "AddGuest", new { id = Model.RoomId })</button>
  </div>
</div>