@{
  Layout = "_Layout";
}

@model Guestly.Models.Room

<h1>Edit price of Room @Html.DisplayFor(model => model.RoomNumber) ( @Html.DisplayFor(model => model.RoomType) )</h1>
<hr>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Adjust Room Price</h5>
            @using(Html.BeginForm())
            {
              @Html.HiddenFor(model => model.RoomId)
              @Html.HiddenFor(model => model.RoomNumber)
              @Html.HiddenFor(model => model.RoomType)

              @Html.Label("Room price:")
              @Html.TextBoxFor(model => model.Price)
            <button class="btn btn-outline-warning text-secondary btn-block text-uppercase" type="submit">Save</button>
            }
        </div>
      </div>
    </div>
  </div>
</div>