<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Guestly</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
  </head>
  <body>
  @if (User.Identity.IsAuthenticated)
    {
    <div class="container-fluid">
      <div class="account-nav">
        <p>Logged in as @User.Identity.Name. <a href="/Account/">Sign out</a></p>
      </div>
    </div>
    }
    else
    {
    <div class="container-fluid">
      <div class="account-nav">
        <a href="/Account/Login">Sign in</a> or <a href="/Account/Register">Create Account</a>
      </div>
    </div>
    }
    <nav class="navbar navbar-dark">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="btn btn-dark">
            <i class="fas fa-bell"></i> @Html.ActionLink("Home", "Index", "Home")
          </button>
          <button type="button" class="btn btn-dark">
            <i class="fas fa-users"></i> @Html.ActionLink("Guests", "Index", "Guests")
          </button>
          <button type="button" class="btn btn-dark">
            <i class="fas fa-bed"></i> @Html.ActionLink("Rooms", "Index", "Rooms")
          </button>
          <button type="button" class="btn btn-dark">
            <i class="fas fa-address-card"></i> @Html.ActionLink("Account", "Index", "Account")
          </button>
        </div>
      </div>
    </nav>
    <div class="container">
      @RenderBody()
    </div>
    @* @Html.Partial("Footer") *@
  </body>
</html>