@using System.Security.Claims

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Guestly</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
    @* <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> *@
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> *@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>
  <body>

    @* <nav class="navbar navbar-dark">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="btn btn-dark">
            <i class="fas fa-bell"></i> @Html.ActionLink("Home", "Index", "Home")
          </button>
          <button type="button" class="btn btn-dark">
            <i class="fas fa-users"></i> @Html.ActionLink("Guests", "Index", "Guests")
          </button>
          <button type="button" class="btn btn-dark">
            <i class="fas fa-bed"></i> @Html.ActionLink("Rooms", "Index", "Rooms")
          </button>
          <button type="button" class="btn btn-dark">
            <i class="fas fa-address-card"></i> @Html.ActionLink("Account", "Index", "Account")
          </button>
        </div>
      </div>
    </nav> *@

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/">Guestly</a>

  <!-- Guests -->
  <ul class="nav mr-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" href="/" id="navbardrop" data-toggle="dropdown"><i class="fas fa-users"></i>
        Guests
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/guests">View all guests</a>
        <a class="dropdown-item" href="/guests/create">Add a new guest</a>
    </li>

    <!-- Rooms -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" href="/" data-toggle="dropdown"> <i class="fas fa-bell"></i> Rooms</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/rooms">View all rooms</a>
        <a class="dropdown-item" href="/rooms/create">Add a new room</a>
      </div>
    </li>

    <!-- Account -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" href="/" id="navbardrop" data-toggle="dropdown"><i class="fas fa-address-card"></i>
        Account
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item " href="/Account/Login">Login</a>
        <a class="dropdown-item" href="/Account/Register">Register</a>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
        <a class="dropdown-item" href="#">Admin?</a>
        }
      </div>
    </li>
  </ul>

  <ul class="nav">
    @if (User.Identity.IsAuthenticated)
      {
        <li class="nav-item">
          @using (Html.BeginForm("LogOff", "Account"))
          {
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <input type="submit" class="nav-item btn btn-link text-white" style="width:auto" value="Logout of ADMIN @User.Identity.Name">
            }
            else
            {
            <input type="submit" class="nav-item btn btn-link text-white" style="width:auto" value="Logout @User.Identity.Name">
            }
          }
        </li>
      }
      else
      {
      <li class="nav-item">
          <a class="nav-link text-white" href="/account/register">Register</a>
      </li>
      <li class="nav-item">
          <a class="nav-link text-white" href="/account/login">Login</a>
      </li>
      }
  </ul>
</nav>

    <div class="container">
      @RenderBody()
    </div>
    @* @Html.Partial("Footer") *@
  </body>
</html>