@{
  Layout = "_Layout";
}

@model Guestly.Models.Guest
<br>
<div class="row">
  <div class="col-sm-6">
    <h1>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1>
    <hr>
    <button type="button" class="btn btn-default btn-warning text-secondary"><i class="fas fa-user-edit"></i> @Html.ActionLink("Edit", "Edit", new { id = Model.GuestId }, new{@class="text-secondary"})</button>
    <button type="button" class="btn btn-default btn-warning text-secondary"><i class="fas fa-trash-alt"></i> @Html.ActionLink("Delete", "Delete", new { id = Model.GuestId}, new{@class="text-secondary"})</button>
    <hr>
    <h4>Phone Number: @Html.DisplayFor(model => model.PhoneNumber)</h4>
    <h4>Email: @Html.DisplayFor(model => model.Email)</h4>
    <h4>Total nights stayed: @Html.DisplayFor(model => model.LifetimeNights)</h4>
    <h4>Lifetime Revenue: $@Html.DisplayFor(model => model.LifetimeRevenue)</h4>
  </div>
  <div class="col-sm-6">
    <h1>Stay records:</h1>
    <ul>
      @if (@Model.Rooms.Count == 0)
      {
        <h3>No stay records for @Html.DisplayFor(model => model.FirstName)</h3>
      }
      @foreach(var join in Model.Rooms)
      {
        <li>@Html.ActionLink($"{@join.Room.RoomNumber}", "Details", "Rooms", new { id = join.RoomId } )</li>
          @using (Html.BeginForm("RemoveRoom", "Guests"))
          {
            @Html.Hidden("joinId", @join.GuestRoomId) <button class="btn btn-default btn-outline-danger" type="submit"><i class="fas fa-ban"></i> Remove</button>
          }
      }
    </ul>
    <button type="button" class="btn btn-default btn-outline-info"><i class="fas fa-bed"></i> @Html.ActionLink("Add a stay record", "AddRoom", new { id = Model.GuestId })</button>
  </div>
</div>