@{
  Layout = "_Layout";
}

@model Guestly.Models.Guest
<br>
<div class="container">
  <div class="row">
    <h1 id="guestName">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1>
    <div class="col-sm-4">
        <a class="tile">
          <h3 class="title">Lifetime Nights</h3>
          <h2>@Html.DisplayFor(model => model.LifetimeNights)</h2>
        </a>
    </div>
    <div class="col-sm-4">
        <a class="tile">
          <h3 class="title">Lifetime Revenue</h3>
          <h2>$@Html.DisplayFor(model => model.LifetimeRevenue).00</h2>
        </a>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-6">
    <h4 class="infoTitle">Phone Number: </h4><h6 class="infoBlock">@Html.DisplayFor(model => model.PhoneNumber)</h6><br>
    <h4 class="infoTitle">Email: </h4><h6 class="infoBlock">@Html.DisplayFor(model => model.Email)</h6><br>
    <h4 class="infoTitle">City: </h4><h6 class="infoBlock">@Html.DisplayFor(model => model.City)</h6><br>
    <h4 class="infoTitle">State/Provence: </h4><h6 class="infoBlock">@Html.DisplayFor(model => model.State)</h6><br>
    <h4 class="infoTitle">Country: </h4><h6 class="infoBlock">@Html.DisplayFor(model => model.Country)</h6>
    <hr>
    <iframe width="400" height="300" frameborder="0" style="border:0" src='https://www.google.com/maps/embed/v1/place?key=AIzaSyCgTZYSjymDeB9RD6L4UsOhMUxdTIoulB4&q=$"{@Model.City}"+$"{@Model.State}"+$"{@Model.Country}"' allowfullscreen></iframe>
    
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
      {
        <hr>
        <button type="button" class="btn btn-default btn-outline-warning text-secondary"><i class="fas fa-user-edit"></i> @Html.ActionLink("Edit", "Edit", new { id = Model.GuestId }, new{@class="text-secondary"})</button>
        <button type="button" class="btn btn-default btn-outline-warning text-secondary"><i class="fas fa-trash-alt"></i> @Html.ActionLink("Delete", "Delete", new { id = Model.GuestId}, new{@class="text-secondary"})</button>
      }

  </div>
  <div class="col-sm-6">
    <h3>Stay records:</h3>
      <table class="table table-hover table-striped">
        <thead class="thead-light">
          <tr>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Arrival Date</th>
            <th>Checkout Date</th>
            <th>Edit?</th>
            <th>Nights</th>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
            <th>Remove Record?</th>
            }
          </tr>
        </thead>
        <tbody>
        @foreach (var join in Model.Rooms)
        {
          <tr>
            <td>@Html.ActionLink($"{@join.Room.RoomNumber}", "Details", "Rooms", new { id = join.RoomId } )</td>
            <td>@join.Room.RoomType</td>
            <td>@join.ArriveDate</td>
            <td>@join.CheckoutDate</td>
            <td>
            @using (Html.BeginForm("RemoveRoom", "Guests"))
            <td>@join.Nights</td>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
              <td>
              @using (Html.BeginForm("RemoveRoom", "Guests"))
              {
                @Html.HiddenFor(model => model.GuestId)
                @Html.HiddenFor(model => model.FirstName)
                @Html.HiddenFor(model => model.LastName)
                @Html.HiddenFor(model => model.PhoneNumber)
                @Html.HiddenFor(model => model.Email)
                @Html.HiddenFor(model => model.LifetimeNights)
                @Html.HiddenFor(model => model.LifetimeRevenue)
                @Html.Hidden("joinId", @join.GuestRoomId) <button class="btn btn-default btn-outline-danger" type="submit"><i class="fas fa-ban"></i> Remove</button>
              }
              </td>
            }
          </tr>
        }
        <tbody>
      </table>
      @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
      {
        <button type="button" class="btn btn-default btn-outline-warning text-secondary"><i class="fas fa-bed"></i> @Html.ActionLink("Add a stay record", "AddRoom", new { id = Model.GuestId })</button>
      }
  </div>
</div>