@{
  Layout = "_Layout";
}

@using Guestly.Models;
@model List<Guestly.Models.Guest>;
<br>
<h1>Guest Database:</h1>
@using (Html.BeginForm())
{

<div class="container searchInputs">
  @Html.TextBox("firstName", null ,new { placeholder = "First Name"})
  @Html.TextBox("lastName", null ,new { placeholder = "Last Name"})
  <input type="submit" value="Search" class="btn btn-info"/>
  <h6 id="refine" style="cursor:pointer; color:blue">Refine Search</h6>
  <div id="params" style="display:none">
    @Html.TextBox("email", null ,new { placeholder = "Email"})
    @Html.TextBox("phone", null ,new { placeholder = "Phone Number"})
    @Html.TextBox("revenue", null ,new { placeholder = "Minimum Lifetime Revenue"})
    @Html.TextBox("nights", null ,new { placeholder = "Nights Stayed"})
  </div>
</div>
}
<br>
@if (@Model.Count == 0)
{
  <h3>There are no guests.</h3>
}
<table class="table table-hover table-striped">
  <thead class="thead-light">
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Lifetime Nights</th>
      <th>Lifetime Revenue</th>
    </tr>
  </thead>
  <tbody>
  @foreach (Guest guest in Model)
  {
    <tr onclick="location.href = '@(Url.Action("Details", "Guests", new { id = guest.GuestId }))'">
      <td>@guest.FirstName</td>
      <td>@guest.LastName</td>
      <td>@guest.Email</td>
      <td>@guest.LifetimeNights</td>
      <td>$ @guest.LifetimeRevenue</td>
    </tr>
  }
  <tbody>
</table>

<script type="text/javascript">   
    document.querySelector("#refine").addEventListener('click', function(){
      $("#params").toggle();
    });
</script>